html {
  height: 100%;
  width: 100%;
}

header {
  /* setting background color and margin for the header */
  background-color: black;
  margin-bottom: 10px;
}

header h1,
h2 {
  text-align: center;
  /* centering all the main header texts */
  background-color: black;
  color: tan;
  font-family: cursive, comic sans ms;
}

h1 {
  font-size: 40px;
}

.profile {
  /* rounding corners, auto-setting the margins, and setting the width for the profile picture */
  border-radius: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 30%;
}

body {
  background-color: tan;
  padding: 50px, 50px, 50px, 50px;
  /* padding the body container by 50px on all sides */
}

main {
  font-family: fantasy;
}

main>p,
h3 {
  /* aligning text in the main paragraph and header3 center */
  text-align: center;
}

nav {
  color: tan;
  text-align: center;
}

footer {
  background-color: black;
  color: tan;
}

hr {
  /* making the line breaks thicker and solid black */
  width: auto;
  border: 2px solid black;
}

article {
  padding-top: 20px;

}




a:link {
  color: tan
}

/* change the link color to match the other text in the heading */
